doctype html5
html
    head
        meta(charset='UTF-8')
        block title
        block script
        link(type='text/css', rel='stylesheet', href='/static/css/main.css')
        block style
    body
        block content
