extends ./base.pug

block style
    link(type='text/css', rel='stylesheet', href='/static/css/map.css')

block script
    script(type='text/javascript', src='/static/lib/socket-io/socket.io.js')
    script(type='text/javascript', src='/static/js/game.js')

block content
    div.map
