extends ./base.pug

block style
    link(type='text/css', rel='stylesheet', href='/static/css/map.css')

block script
    script(type='text/javascript', src='/static/lib/socket-io/socket.io.js')
    script(type='text/javascript', src='/static/js/game.js')

block content
    div.gameover.hidden
    div.hud
        div.megauge
            img(src='/static/assets/jaugecadre.gif')
            div.gauge
        div.crewgauge
            img(src='/static/assets/jaugecadre.gif')
            div.gauge
        div.worldgauge
            img(src='/static/assets/jaugecadre.gif')
            div.gauge
        img.icon.meicon
        img.icon.crewicon
        img.icon.worldicon(src='/static/assets/iconsall.gif')
    div.game
        img(src='/static/assets/tilesup.gif', style='margin-left:-80px;')
        div.left
        div.map
            img(src='/static/assets/selectionsquare.gif').cursor
        div.right
        img.bottom(src='/static/assets/tilesdown.gif')
    div.instructions
        img(src='/static/assets/instructions0000.png')
        img.instructionsme
