extends ./base.pug

block script
    script(type='text/javascript', src='/static/lib/socket-io/socket.io.js')
    script(type='text/javascript', src='/static/js/game.js')

    link(type='text/css', rel='stylesheet', href='/static/css/map.css')

block content
    h1 Welcome to #{room.UUID}
    div.map
