/**
* @Author: Paul Joannon <paulloz>
* @Date:   2016-04-17T13:57:46+02:00
* @Email:  hello@pauljoannon.com
* @Last modified by:   paulloz
* @Last modified time: 2016-04-17T13:57:59+02:00
*/

html, body {
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(224, 117, 132);
    background-image: url(/static/assets/BG.gif);
    background-size: auto 100%;
    background-repeat: repeat-x;
}
