/**
* @Author: Paul Joannon <paulloz>
* @Date:   2016-04-16T12:30:34+02:00
* @Email:  hello@pauljoannon.com
* @Last modified by:   paulloz
* @Last modified time: 2016-04-17T09:03:18+02:00
*/

html, body {
    padding: 0;
    margin: 0;
}

.map, .square {
    border-style: solid;
    border-color: rgb(61, 61, 61);

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.map {
    position: relative;

    margin: 10px;
    border-width: 1px 0 0 1px;

    background-color: rgb(122, 122, 122);
}

.square {
    display: inline-block;

    border-width: 0 1px 1px 0;

    background-color: sand;
}

.square {
    cursor: pointer;
}

.map img {
    position: absolute;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    -webkit-pointer-events: none;
            pointer-events: none;
}

.hud {
    height: 40px;
}

.hud > div {
    position: absolute;
    top: 10px;

    width: 200px;
    height: 20px;

    border: 1px solid rgb(61, 61, 61);
}

.hud .megauge {
    left: 25px;
}

.hud .crewgauge {
    left: 50%;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.hud .worldgauge {
    right: 25px;
}

.hud .gauge {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    background: red;
}
