/**
* @Author: Paul Joannon <paulloz>
* @Date:   2016-04-16T12:30:34+02:00
* @Email:  hello@pauljoannon.com
* @Last modified by:   Paul Joannon
* @Last modified time: 2016-04-19T20:25:44+02:00
*/

.game, .hud {
    display: none;
}

.map, .square {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.game {
    position: relative;
    z-index: 20;

    padding: 0 80px;
    margin: -20px auto 0 auto;
}

.map {
    position: relative;

    background-color: rgb(122, 122, 122);
}

.square {
    display: inline-block;

    background-image: url(/static/assets/tiles0.gif);
}

.square {
    cursor: pointer;
}

.map img {
    position: absolute;

    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);

    -webkit-pointer-events: none;
            pointer-events: none;
}

.map img.cursor, div.instructions {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hud {
    position: relative;

    width: 960px;
    height: 122px;
    margin: 0 auto;

    background-image: url(/static/assets/HUD.gif);
}

.hud > div {
    position: absolute;
    top: 50%;

    width: 200px;
    height: 44px;

    background-color: rgb(82, 35, 118);

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.hud img {
    position: relative;
    z-index: 20;
}

.hud .megauge {
    left: 85px;
}

.hud .crewgauge {
    left: 395px;
}

.hud .worldgauge {
    right: 50px;
}

.hud .gauge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    height: 100%;

    background-image: url(/static/assets/jauge.gif);
    background-repeat: repeat-x;
}

.hud .icon {
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.hud .icon.meicon {
    left: 30px;
}

.hud .icon.crewicon {
    left: 310px;
}

.hud .icon.worldicon {
    right: 275px;
}

.game .left, .game .right {
    position: absolute;
    top: 80px;

    width: 80px;
}

.game .left {
    left: 0;
    z-index: 10;

    background-image: url(/static/assets/tilesleft.gif);
}

.game .right {
    right: 1px;
    z-index: 10;

    background-image: url(/static/assets/tilesright.gif);
}

.game .bottom {
    position: absolute;
    left: 0;
    bottom: -120px;
    z-index: 30;

    -webkit-pointer-events: none;
            pointer-events: none;
}

.gameover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    background-color: rgb(82, 35, 118);
    background-repeat: no-repeat;
    background-position: top center;

    -webkit-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

.gameover.hidden {
    opacity: 0;

    -webkit-pointer-events: none;
            pointer-events: none;
}

div.instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;

    width: 752px;
    height: 264px;
}

.instructionsme {
    position: absolute;
    top: 20px;
    left: 166px;
}

.instructionsantagonist {
    position: absolute;
    top: 105px;
    left: 156px;
}

.info {
    position: absolute;
    bottom: 20px;
    left: 20px;

    cursor: pointer;
}

.map, .left, .right {
    -webkit-transition: height 500ms ease-in-out;
            transition: height 500ms ease-in-out;
}
